body{
      /* more on this crazy alphanumerical value in a minute! */
  color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
}
/* apply style to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
haeder a {
    text-decoration: none;
    color: #fce138;
}
header nav {
float: right;
margin: 0%;
}*/-
